.profile-row {
    margin-left: 91px;
}

#profile-pic {
    border-radius: 30pc;
}

#name {
    font-size: 55px!important;
    margin-left: 33px;
}

#bio {
    color: white!important;
    text-align: center;
}

.infoBox {
    background-color: black!important;
    border-radius: 20px;
    -moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
margin-bottom: 40px;
padding-top: 3px;
padding-bottom: 5px;
}

.infoBox:hover {
    -moz-box-shadow: 0 0 9px 9px #888;
-webkit-box-shadow: 0 0 9px 9px#888;
box-shadow: 0 0 9px 9px #888;
}

.link-title {
    text-align: left;
    margin-top: 15px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.753);
}

.link-Icon {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.753);
}

.info-Row {
    margin-top: -20px
}

.top-icons {
    margin-left: 150px;
    display: flex;
}

#top-icon {
    font-size: 50px;
    color: white;
    padding-right: 15px;
}

#top-icon:hover {
    font-size: 55px;
}

.link-footer {
    color: #3da8e6;
}