#aboutP {
  font-size: 35px !important;
}

/* @media (max-width: 992px) {
  #secImgCol {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
} */

@media (min-width: 992px) {
  .about {
    text-align: left;
  }
}
#bottomSecPic {
  margin: 0 auto;
  display: block;
  padding-bottom: 80px;
}

.jumbotron {
  background: transparent !important;
  color: white !important;
}

.jumbotron h2 {
  font-size: 60px;
}

.jumbotron p {
  font-size: 22px;
  line-height: 1.7;
}

#bottomBtn {
  background: transparent !important;
  color: white !important;
  border-radius: 15px;
  width: 190px;
  height: 52px;
}

#bottomBtn:hover {
  background: white !important;
  color: black !important;
}

#patreonIcon {
  font-size: 50px;
}

@media (max-width: 590px) {
#video {
  width: 340px;
  height: 200px;
}
}

@media (max-width: 992px) {
#secVidCol {
  padding-top: 60p!important;
}
#vidSpacer {
  display: none;
}
}
